\documentclass[12pt,{{ paper }},british]{article}

\renewcommand*\ttdefault{cmvtt}
\renewcommand{\familydefault}{\ttdefault}

\usepackage[OT2,T1]{fontenc}

\renewcommand\labelitemi{---}


\usepackage{graphicx}
\usepackage[
    {{ paper }},
    bindingoffset=0.2cm,
    left=0.5cm,
    right=0.5cm,
    top=0.5cm,
    bottom=0.5cm,
    footskip=.25in
]{geometry}

\frenchspacing              % Better looking spacings after periods
\pagestyle{empty}           % No pagenumbers/headers/footers



\begin{document}


\begin{center}
    \vspace*{5cm}

    { \Huge {{ title }} }

    \vspace{0.2cm}

    { \large pages for {{ voice_count }} players }
    
    \vspace{0.2cm}

    { levin eric zimmermann }



\end{center}

\newpage


\end{document}
