\documentclass[12pt,a4paper,ngerman]{article}

\renewcommand*\ttdefault{cmvtt}
% \usepackage{courier}
\renewcommand{\familydefault}{\ttdefault}

\usepackage[OT2,T1]{fontenc}

\renewcommand\labelitemi{---}


\usepackage{graphicx}
\usepackage[
    a4paper,
    bindingoffset=0.2cm,
    left=0.5cm,
    right=0.5cm,
    top=0.5cm,
    bottom=0.5cm,
    footskip=.25in
]{geometry}

\frenchspacing              % Better looking spacings after periods
\pagestyle{empty}           % No pagenumbers/headers/footers



\begin{document}


% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%               START PAGE
% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\begin{center}
    \vspace*{5cm}

    { \Huge {{ title }} }
    
    \vspace{0.2cm}
    
    { \large for $3\geq$ persons }

    \vspace{0.2cm}

    { levin eric zimmermann }

\end{center}

\newpage

% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%               TITLE
% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\begin{center}
    { \Large {{ title }} }
    
    \vspace{0.2cm}
    
    { \small for $3\geq$ persons }
\end{center}


% \vspace{0.2cm}

% { \footnotesize levin eric zimmermann }

\vspace{0.25cm}

% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%               THESES
% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\begin{enumerate}

    \item{the absence of exclusion is $\infty$}

    % \item{any finite state can be described as either a finite set of all included elements or an infinite set of all excluded elements}

    \item{mystic traditions: ticket for a journey from finitude to $\infty$}

\end{enumerate}


% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%               WEIL QUOTE
% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\begin{figure}[h]
    % \hspace{-1cm}
    \begin{center}
        % \hspace{0.5cm}
        \includegraphics[scale=0.28]{pictures/weil-quote-annotated.png}
    \end{center}
    \begin{center}
        (simone weil: gravity and grace)
    \end{center}
\end{figure}


\vspace{1.5cm}


% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%               PLAYING SITUATION
% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\hspace{1.5cm} {\large full group} \hfill

\begin{itemize}

    \item{dividing ourselves into independent parties}

\end{itemize}


\vspace{0.15cm}

\hspace{0.5cm} \begin{minipage}[b]{.8\textwidth}

    \footnotesize

    \begin{tabular}{l l || l l} 
        group size & division & group size & division \\ [0.5ex] 
        \hline
        {% for division_entry in division_table %}
            {{ division_entry[0] }} & {{ division_entry[1] }} & {{ division_entry[2] }} & {{ division_entry[3] }} \\
        {% endfor %}
    \end{tabular}
    
\end{minipage}%

\vspace{0.3cm}

\hspace{+5.5cm} {\footnotesize etc.}

\vspace{1cm}


\hspace{1.5cm} {\large independent party} \hfill

\begin{itemize}

    \item{(jointly) starting with any (jointly) agreed page}

    \item{proceeding to the next page iff everyone is finished with the current page}

    \item{(individually) starting with given event sequence, whenever desired}

\end{itemize}

\vspace{1.5cm}


% \hspace{2cm}

% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%               HINTS
% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\newpage

\begin{minipage}[b]{.7\textwidth}

\vspace{1.5cm}
\begin{footnotesize}

    {\small (optional) hints:}

    \begin{itemize}

        \item{independent parties may or may not be displaced from each other}

        \item{membership of parties may be determined by chance operations (lottery; alphabetical order of first names)}

        \item{start page number may be gained by chance operations (using the birth date of youngest player; using dices)}

        \item{
                to reach a consensus on whether one page has been completed or not an independent party may utilize a commonly agreed strategy %
                (having only one page on a music stand \& if everyone moved the page from the music stand to a pile on the right side, the party moves together to the next page;
                using eye contact to reach a consensus)
            }

        \item{an event may be a flute tone, a change of light, a body movement, a spoken word, a piano chord, \dots}

    \end{itemize}

\end{footnotesize}


\end{minipage}%


\end{document}
